body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
p{
    color: dimgray;
    padding-bottom: 25px;
}
.flex{
    display: flex;
}
section.top-banner{
    width: 100%;
    margin: auto;
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 150px;
}
.half{
    width: 50%;
    padding-left: 7%;
}
section.top-banner h1{
    font-size: 50px;
    color: black;
}
section.top-banner h1 span{
    color: orange;
}
section.top-banner img{
    width: 450px;
}


section .link-button{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    padding: 10px 25px;
}

/* -----Dream section----- */
.dream img{
    width: 450px;
}
.dream .dream-content{
    padding-right: 7%;
}
.dream .dream-content h1{
    font-size: 40px;
}